.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;

    h2 {
        margin: 0 0 0 16px;
        color:#434343;
    }

     p{
        margin: 0 16px 0 0;
        color:#656565;

    }

}


.wrapper{
    border:0px solid #ddd;
    display:flex;
    overflow-x:auto;
    margin-left:10px;
    
}

.wrapper::-webkit-scrollbar{
    width:0;
}

.wrapper .item{
    min-width:240px;
    height:200px;
    line-height:110px;
    text-align:center;
    background-color:#ddd;
    margin-right:5px;
    border-radius:20px;
    
}


.wrapper2{
    border:0px solid #ddd;
    display:flex;
    overflow-x:auto;
    margin-left:10px;
    
}

.wrapper2::-webkit-scrollbar{
    width:0;
}

.wrapper2 .item2{
    min-width:220px;
    height:150px;
    line-height:110px;
    text-align:center;
    background-color:#ddd;
    margin-right:5px;
    border-radius:20px;
    
}