<ion-header>

</ion-header>
<ion-content class="ion-padding">

    <div class="title">
    <h4>Signup</h4>
    <p>Register with Sqeecky Clean</p>
  </div>

  <ion-input placeholder="Full Name" [(ngModel)]="name" class="primary-input"></ion-input>
  <ion-input placeholder="Surname" [(ngModel)]="surname" class="primary-input"></ion-input>
  <ion-input placeholder="Email" [(ngModel)]="email" class="primary-input"></ion-input>
  <ion-input placeholder="Phone Number" [(ngModel)]="contact" class="primary-input"></ion-input>
  <ion-input placeholder="Password"  [(ngModel)]="password" type="password" class="primary-input"></ion-input>


  

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="SignUp(email, password, name, surname)" >SIGN UP</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>


</ion-content>