<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="cardp">
     
      <ion-avatar class="userimg">
        <img src="../../assets/d2ce1c79-b774-4732-b3a0-c6268e065320.jpeg">
      </ion-avatar>
    
  <ion-card-content>
    <ion-card-title>
      Ivan Johnson
    </ion-card-title>
    
<ion-item>
  <ion-label position="floating">Name</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Surname</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" type="number">Phone Number</ion-label>
  <ion-input ></ion-input>
</ion-item>
<ion-item>
  <ion-label  position="floating">Street</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Surbub</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">City</ion-label>
  <ion-input></ion-input>
</ion-item>



  </ion-card-content>
    
  </ion-card>
    
  
</ion-content>
