<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>vehicles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card >
   <ion-card-header> 
     <ion-card-title><h6>My Wheels</h6></ion-card-title>
   </ion-card-header>
   <ion-card-content>
      <ion-label></ion-label>
      <ion-label></ion-label>
      <ion-label></ion-label>
   </ion-card-content>
</ion-card>
    <p>Please click below to add your vehicle</p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="openModal()"><ion-icon name="add-circle-outline"></ion-icon>ADD VEHICLE</ion-button>
  </ion-toolbar>
</ion-footer>    